@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/*Variables*/
:root {
    --fuentemain: 'Ubuntu', sans-serif;
    --fuentesecond: 'Poppins', sans-serif;
}
body {
    font-family: var( --fuentesecond);
    font-size: 18px;
    text-align:justify;
}

#Main-container{
background-color: rgb(235, 235, 235);
border-radius: 10px;
margin: 20px;
padding: 10px;

}
.Sounds{
    display:flex;
    align-content:center;
   border-radius:10px;
    padding:5px;
    background-color:gainsboro;
}
.soundTitle{
    margin-left:10%
}
.audio {
    margin-left: 20%;
    margin-top: 8px;
}
#header{
  background-color: white;    
  border-radius: 10px;
  border: 2px solid black;
}
footer{
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  background-color: chocolate;
  
  padding: 30px;
}

.carSection{
    display:flex;
}
img {
    margin:20px;
    width: 220px;
    height: 150px;
}
@media (max-width: 700px) {
    .carSection {
        display: block;
    }
    
    img{
        width:200px;
        height:200px;
    }
    .Sounds {
        display: block;
        align-content: center;
        border-radius: 10px;
        
        background-color: gainsboro;
    }

    .soundTitle {
      margin:0px;
    }
}